<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/topcoat-desktop-dark.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body ng-app="SearchAEM">
      <div ng-controller="search-assets">
          <div class="form sign-in" ng-show="showLogin">
              <h2>Log into AEM</h2>
              <div>
                  <label for="username">User Name</label>
                  <input type="text" class="topcoat-text-input" name="username" ng-model="username" ng-enter="login()"/>
              </div>
              <div>
                  <label for="password">Password</label>
                  <input type="password" class="topcoat-text-input" name="password" ng-model="password" ng-enter="login()"/>
              </div>
              <div>
                  <label for="url">AEM URL</label>
                  <input type="text" class="topcoat-text-input" value="{{damHost}}" name="url" ng-model="damHost" ng-enter="login()"/>
              </div>
              <button type="button" class="topcoat-button" ng-click="login()">Login</button>
          </div>

          <div class="form" ng-show="!showLogin">
              <input type="text" placeholder="search" class="topcoat-search-input" ng-model="term" ng-enter="search()"/>
              <button type="button" class="topcoat-button" ng-click="search()">Search</button>
              <table class="results">
                  <tr class="result" ng-repeat="result in results" ng-click="open(result)">
                      <td class="thumbnail">
                          <img ng-src="{{result.imgPath}}"/>
                      </td>
                      <td class="filename">
                          {{result.name}}
                      </td>
                  </tr>
              </table>
              <button type="button" class="logout topcoat-button" ng-click="logout()">Logout</button>
          </div>
      </div>
    <script src="js/CSInterface.js"></script>
    <script src="js/ngEnter.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>